*{
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    padding: 25px;
    text-align: center;
}

h2 {
    text-align: center;
    padding-bottom: 25px;
}

.container {
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 15px;
    color: white;
    background-color: blueviolet;
    border-color: blueviolet;
    border-radius: 10%;
}

label {
    font-size: 20px;
}

input {
    padding: 15px;
}